{% extends 'base.html' %}
{% block title %}
    Filter
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-2">
            <div class="container ml-1">
                <form method="POST" action="{{ url_for('filter_page') }}" style="color:white">
                    {{ form.hidden_tag() }}
                        <br>
                        <h1>Filter</h1>
                        <br>
                        {{ form.release_date_from.label() }}
                        {{ form.release_date_from(class="form-control") }}
                        <br>
                        {{ form.release_date_to.label() }}
                        {{ form.release_date_to(class="form-control") }}
                        <br>
                        {{ form.director.label() }}
                        {{ form.director(class="form-control") }}
                        <br>
                        {{ form.genre.label() }}
                        {% for genre in form.genre %}
                            <div class="form-check">
                                {{ genre(class="form-check-input") }}
                                {{ genre.label(class="form-check-label") }}
                            </div>
                    {% endfor %}
                    <br>
                    {{ form.submit(class="btn, btn-lg btn-block btn-primary") }}
                </form>
            </div>
        </div>
        <div class="col-10">
            <table class="table table-hover table-dark table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">
                        <form class="form-inline my-2 my-lg-0 ml-3" action="{{ url_for('sort_page', filter=filter) }}" method="POST">
                            Release date
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle ml-2" type="button" id="sort_by_release_date" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort
                                </button>
                                <div class="dropdown-menu" aria-labelledby="sort_by_release_date">
                                    <button class="dropdown-item" name="sort_by_release_date_asc" type="submit">Asc</button>
                                    <button class="dropdown-item" name="sort_by_release_date_desc" type="submit">Desc</button>
                                </div>
                            </div>
                        </form>
                    </th>
                    <th scope="col">
                        <form class="form-inline my-2 my-lg-0 ml-3" action="{{ url_for('sort_page', filter=filter) }}" method="POST">
                            Rating
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle ml-2" type="button" id="sort_by_rating" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort
                                </button>
                                <div class="dropdown-menu" aria-labelledby="sort_by_rating">
                                    <button class="dropdown-item" name="sort_by_rating_asc" type="submit">Asc</button>
                                    <button class="dropdown-item" name="sort_by_rating_desc" type="submit">Desc</button>
                                </div>
                            </div>
                        </form>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for film in films.items %}
                <tr>
                    <td><a href="{{ url_for('film_page', film_id=film.id, film_title=film.title) }}" style="color:white;">{{ film.title }}</a></td>
                    <td>{{ film.release_date }}</td>
                    <td>{{ film.rating }}</td>
                    <td>
                        <form action="{{ url_for('film_page', film_id=film.id, film_title=film.title) }}">
                            <button class="btn btn-outline btn-info">View Info</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
<!--Pagination-->
<div class="container text-right mr-5" style="position: fixed; bottom: 100px; right: 10px">
    <a href="{%if sort%}{{ url_for('filter_page', page=films.prev_num, filter=filter, sort=sort) }}{%else%}{{url_for('filter_page', page=films.prev_num, filter=filter)}}{%endif%}"
       class="btn btn-outline-light {% if films.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in films.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if films.page == page_num %}
                <a href="{%if sort%}{{ url_for('filter_page', page=page_num, filter=filter, sort=sort) }}{%else%}{{url_for('filter_page', page=page_num, filter=filter)}}{%endif%}"
                   class="btn btn-light">
                    {{ page_num }}
                </a>
            {% else %}
                <a href="{%if sort%}{{ url_for('filter_page', page=page_num, filter=filter, sort=sort) }}{%else%}{{url_for('filter_page', page=page_num, filter=filter)}}{%endif%}"
                   class="btn btn-outline-light">
                    {{ page_num }}
                </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{%if sort%}{{ url_for('filter_page', page=films.next_num, filter=filter, sort=sort) }}{%else%}{{url_for('filter_page', page=films.next_num, filter=filter)}}{%endif%}"
       class="btn btn-outline-light {% if films.page == films.pages %}disabled{% endif %}">
        &raquo;
    </a>
    <p class="mt-3">
        Showing page {{ films.page }} of {{ films.pages }}
    </p>
</div>
{% endblock %}