{% extends 'base.html' %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Release date</th>
                <th scope="col">Rating</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for film in films.items %}
            <tr>
                <td><a href="{{ url_for('film_page', film_id=film.id, film_title=film.title) }}" style="color:white;">{{ film.title }}</a></td>
                <td>{{ film.release_date }}</td>
                <td>{{ film.rating }}</td>
                <td>
                    <form action="{{ url_for('film_page', film_id=film.id, film_title=film.title) }}">
                        <button class="btn btn-outline btn-info">View Info</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<!--Pagination-->
<!--<nav aria-label="Page navigation example">-->
<!--                <ul class="pagination">-->
<!--                    {% if films.has_prev %}-->
<!--                      <li class="page-item"> <a class="page-link" href="{{ url_for('search_page', page=films.prev_num) }}">Previous</a></li>-->
<!--                    {% else %}-->
<!--                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>-->
<!--                    {% endif %}-->

<!--     {% for page in films.iter_pages(left_edge=3, right_edge=3) %}-->
<!--     {% if page %}-->

<!--      {% if page==films.page %}-->
<!--       <li class="page-item active"><a class="page-link" href="{{ url_for('search_page', page=page) }}">{{ page }}</a></li>-->
<!--      {% else %}-->
<!--       <li class="page-item"><a class="page-link" href="{{ url_for('search_page', page=page) }}">{{ page }}</a></li>-->
<!--      {% endif %}-->

<!--     {% else %}-->
<!--      <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>-->
<!--     {% endif %}-->
<!--     {% endfor %}-->

<!--                    {% if films.has_next %}-->
<!--                      <li class="page-item"> <a class="page-link" href="{{ url_for('search_page', page=films.next_num) }}">Next</a></li>-->
<!--                    {% else %}-->
<!--                      <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>-->
<!--                    {% endif %}-->

<!--                </ul>-->
<!--    </nav>-->
<div class="container text-right mr-5" style="position: fixed; bottom: 100px; right: 10px">
    <a href="{{ url_for('search_page', page=films.prev_num) }}"
       class="btn btn-outline-light {% if films.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in films.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if films.page == page_num %}
                <a href="{{ url_for('search_page', page=page_num) }}"
                   class="btn btn-light">
                    {{ page_num }}
                </a>
            {% else %}
                <a href="{{ url_for('search_page', page=page_num) }}"
                   class="btn btn-outline-light">
                    {{ page_num }}
                </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('search_page', page=films.next_num) }}"
       class="btn btn-outline-light {% if films.page == films.pages %}disabled{% endif %}">
        &raquo;
    </a>
    <p class="mt-3">
        Showing page {{ films.page }} of {{ films.pages }}
    </p>
</div>
{% endblock %}